body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,200px));
    grid-template-rows: repeat(3,200px);
   
}

.cell{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    font-weight: lighter;
}

.cell:nth-child(3n){
    border-right: none;
}

.cell:nth-child(n+7){
    border-bottom:none;
}

#result{
    font-size: 40px;
    
}

#restart{
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
}

